{% load static %}

<html>

<head> 
    <title>Video Collection</title> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">    </title>


</head>


<body>
    {% block content %}
    {% endblock %}

    <hr> #horizontal rule

    <div class="navigation"> <!--assign a class for the CSS .navigation {} -->
        <!--On EVERY PAGE these links will take the user to each of the pages -->
        <a href="{% url 'home'%}">Home</a>
        <a href="{% url 'video_list'%}">Video List</a>
        <a href="{% url 'add_video'%}">Add a Video</a>

    </div>

</body>




</html>